<h1>Listing localities</h1>

<table>
  <tr>
    <th>Locality</th>
    <th>Province</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @localities.each do |locality| %>
  <tr>
    <td><%= locality.locality %></td>
    <td><%= locality.province.province %></td>
    <td><%= link_to 'Show', locality %></td>
    <td><%= link_to 'Edit', edit_locality_path(locality) %></td>
    <td><%= link_to 'Destroy', locality, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Locality', new_locality_path %>
