<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

<%= form_tag do %>
  
  <p><b>Fundación Islas Malvinas</b></p>
  <p>Escuela Internacional de Turismo, Hotelería y Gastronomía</p>
  <h1>Departamento de Práctica Profesional</h1>
  <p>&nbsp;</p>
  <p>Hola! Estamos reprogramando el viejo sistema de pasantías completamente desde cero. Podes ver diariamente un estado de avance <a href="https://github.com/karancho/Pasantes/commits/master">aquí</a></p>
  <p>Deberas solicitar usuario / password a Nico (laboratorio@eim.esc.edu.ar) con copia a Sergio (sergio@eim.esc.edu.ar) para poder ingresar.</p>
  <p>Ayudanos a mejorarlo! recibimos también ahi criticas (be nice) o ideas para agregarle</p>
  <p>&nbsp;</p>
  	
  <fieldset>
    <legend>Ingrese valores de logueo</legend>
    Solicite usuario y contraseña al profesor de práctica profesional, o a su director de carrera.
      <div>
        <%= label_tag :email, 'Email:' %>
        <%= email_field_tag :email, params[:email] %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Entrar" %>
      </div>
    </fieldset>
<% end %>
</div>

