<%= form_tag do %>

<div id="formlogin">
	<h3>Departamento de Práctica Profesional</h3>
	<h3>Portal de Autogestión de Pasantías - Ofertas de Trabajo</h3>
</div>

<div id="formlogin">
<fieldset>
	<legend>
		<b>Ingrese valores de logueo</b>
	</legend>
	<div>
		<%= label_tag :email, 'Email:' %>
		<%= email_field_tag :email, params[:email] %>
	</div>
	<div>
		<%= label_tag :password, 'Password:' %>
		<%= password_field_tag :password, params[:password] %>
	</div>
	<div>
		<%= submit_tag "Entrar" %>
	</div>
</fieldset>
</div>


<p class="hola">
	¡Hola! Estamos reprogramando el viejo sistema de pasantías completamente desde cero. Podes ver diariamente un estado de avance <a href="https://github.com/karancho/Pasantes/commits/master">aquí.</a>
</p>
<p>
	¿Sos <b>empresario o encargado</b>? ¿Necesitas recursos humanos capacitados? Podes <%= link_to 'darte de alta', new_user_path %> y comenzar postear ofertas de pasantías.
<p>
	¿Sos <b>alumno</b> de la escuela? <%= link_to 'date de alta', new_user_path %>, y mandanos tu DNI a la cuenta pasantias@eim.esc.edu.ar con copia a sergio@eim.esc.edu.ar para validar tus datos y comenzar a operar con tus pasantías.
</p>

<p>
	<p>¿Sos <b>Egresado</b> de algúna <b>carrera</b> o tomaste algún <b>curso</b>? <br>
	En una iniciativa planteada por el Consejo Directivo, la escuela <b>busca a los alumnos que egresaron de la escuela</b>. Diversas empresas se contactan todo el tiempo, solicitan perfiles y requieren del talento que ha pasado por nuestras aulas.<br>
	Si egresaste de la escuela... <%= link_to '¡volvé!', new_user_path %> siempre habrá un espacio para nuestros queridos alumnos.</p>
	<p></p>

</p>


<p>
	Ayudanos a mejorar este portal! recibimos también ahi criticas (be nice ;) o ideas para agregarle nuevas funciones.
</p>

<% end %>

</div>

