<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>

<%= form_tag do %>
  <img src="/assets/logonuevo.escuela-medio.jpg" align="right">
  <p><b>Fundación Islas Malvinas</b></p>
  <p>Escuela Internacional de Turismo, Hotelería y Gastronomía</p>
  <h1>Departamento de Práctica Profesional</h1>
  <p>&nbsp;</p>
  <p>Hola! Estamos reprogramando el viejo sistema de pasantías completamente desde cero. Podes ver diariamente un estado de avance <a href="https://github.com/karancho/Pasantes/commits/master">aquí.</a></p>
  <p>¿Eres <b>empresario o encargado</b>? ¿Necesitas recursos humanos capacitados? Puedes <%= link_to 'darte de alta', new_user_path %> y comenzar postear ofertas de pasantías.
  <p>¿Eres <b>alumno</b> de la escuela? solicita usuario y contraseña a Erica (laboratorio@eim.esc.edu.ar) con copia a Sergio (sergio@eim.esc.edu.ar) para poder ingresar.</p>
  <p>Ayudanos a mejorarlo! recibimos también ahi criticas (be nice) o ideas para agregarle nuevas funciones.</p>
  
  <fieldset>
    <legend>Ingrese valores de logueo</legend>
    <div>
        <%= label_tag :email, 'Email:' %>
        <%= email_field_tag :email, params[:email] %>
      </div>
      <div>
        <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
      </div>
      <div>
        <%= submit_tag "Entrar" %>
      </div>
    </fieldset>
<% end %>
</div>

