

<h6><center> ------- COPIAR y PEGAR a partir de aquí en Procesador de Textos y adaptar de acuerdo a las necesidades de las partes intervinientes ------</center></h6>
<hr>
<center>
  <h1>Escuela Internacional de Turismo, Hotelería y Gastronomía</h1>
  <img src="/assets/logo-nuevo-chico-transparente-con-lunapic.gif" height="100" width="100">
</center>

<p></p>
<p></p>

<p>CONVENIO SOBRE PASANTÍAS - LEY 26.427 Nº: <b><%=Time.now.year %></b> - <b><%=@contract.id %></b> </p>

<p>En la ciudad de Mendoza, el día <b><b><%= Time.now.day %></b>-<b><%= Time.now.month %></b>-<b><%= Time.now.year %></b></b>, entre la <b>EMPRESA <b><%=@contract.internship.company.name.upcase %></b></b>, cuyos datos son: razón social <b><b><%=@contract.internship.company.razon.upcase %></b></b>, domicilio <b><b><%=@contract.internship.company.address.upcase %></b></b>, localidad de <b><b><%=@contract.internship.company.locality.locality.upcase %></b></b>, provincia de <b><b><%=@contract.internship.company.locality.province.province.upcase %></b></b>, representada en este acto por el <%=Treatment.find(@contract.internship.company.bosstreatment_id).treatment %> <b><b><%=@contract.internship.company.boss.upcase %></b></b>, tipo y número de Documento DNI <b><b><%=@contract.internship.company.boss_dni.upcase %></b></b>, en su calidad de: <b><b><%=@contract.internship.company.position.upcase %></b></b>, y la <b>ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA</b>, representada en este por la <b>FUNDACION ISLAS MALVINAS</b>, quien comparece a este acto representada por su Presidente <b>ARMANDO ALONSO BADIA (LE. Nº: 8.149.227)</b> y con la participación del Señor Rector de la <b>ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA, Lic. Federico Vazquez de Novoa, D.N.I 20.857.939</b>, todos con domicilio legal en Avda. Roque Saenz Peña No: 745, Ciudad de Mendoza, en adelante la <b>ESCUELA</b>, acuerdan celebrar el presente convenio con el objeto de implementar pasantías educativas (ley 26.427) para estudiantes de la <b>ESCUELA</b>, en dependencias de la <b>EMPRESA</b>, con los siguientes objetivos, modalidades y condiciones: </p>

<p>PRIMERA: La realización de las pasantías educativas (ley 26.427) mencionadas tendrá por objeto posibilitar a los estudiantes de la <b>ESCUELA</b> adquirir durante su vigencia, experiencia profesional de campo, en la <b>EMPRESA</b>, como complemento de la formación académica recibida en la <b>ESCUELA</b>.</p>

<p>SEGUNDA: Sin perjuicio de otras que específicamente se pacten o surjan naturalmente como consecuencia necesaria de la implementación de las pasantías educativas (ley 26.427) objeto del presente, la <b>EMPRESA</b> asume las siguientes obligaciones: a) permitir que los alumnos concurrentes alcancen los objetivos establecidos en la cláusula anterior, implementando aquellas actividades donde sea posible su participación activa, en tanto las mismas no perturben su giro empresarial. b) designar a un supervisor, que entre otras funciones, tendrá a su cargo colaborar en ésta experiencia, participando en su control y evaluación, según lo determine el Coordinador de Prácticas de la <b>ESCUELA</b>. c) avalar al término de la práctica las certificaciones relativas a las actividades desarrolladas por los alumnos. d) evaluar a su criterio y según lo especificado en los formularios que a tal fin proveerá la <b>ESCUELA</b>, el desempeño de los estudiantes, entregando su resultado a ésta última e) abstenerse de requerir a los estudiantes el desarrollo de tareas que impliquen poner en riesgo su seguridad personal y/o importen un menoscabo a su dignidad y pudor. f) informar a la <b>ESCUELA</b> cualquier eventualidad que pudiera presentarse en el desarrollo de las prácticas. g) acreditar encontrarse los alumnos cubiertos por un seguro de riesgo de trabajo (ART) y una Obra Social, ambas a cargo de la <b>EMPRESA</b>, presentando copia de la Clave de Alta Temprana respectiva. </p>

<p>TERCERA: Sin perjuicio de otras que específicamente se pacten o surjan naturalmente como consecuencia necesaria de la implementación de las pasantías educativas (ley 26.427) objeto del presente, la <b>ESCUELA</b> asume las siguientes obligaciones: a) brindar a la <b>EMPRESA</b> el apoyo técnico que el planeamiento y seguimiento de la experiencia requiera, realizando todas las actividades de acompañamiento necesarias. b) designar un Coordinador de Prácticas, que será el Prof.: Sergio Alonso, y / o quien la <b>ESCUELA</b> designe en su reemplazo, en calidad de docente guía, el que tendrá a su cargo la supervisión, control y coordinación de las prácticas, sirviendo de nexo entre la <b>ESCUELA</b> y la <b>EMPRESA</b>, siendo asimismo el representante de aquella ante ésta. c) aplicar a los alumnos las sanciones que correspondan conforme a las pautas establecidas en el Reglamento interno de la <b>ESCUELA</b>, toda vez que la conducta de ellos resulte desajustada y pasible de sanción. d) mantener confidencialidad sobre toda la información que haga al giro comercial de la <b>EMPRESA</b>. e)Informar fehacientemente a la <b>EMPRESA</b>, dentro de las 24 horas de ocurrido, la pérdida de la condición de "regular" del alumno pasante; lo que generará rescisión automática del Convenio Individual Adicional respectivo. </p>

<p>CUARTA: Sin perjuicio de otras que surjan naturalmente como consecuencia necesaria de su calidad de alumnos, estos asumen las siguientes obligaciones: a) asistir puntualmente en horarios y días asignados a realizar sus prácticas, dando cumplimiento a los requerimientos propios de la actividad a desarrollar, observando las indicaciones que al respecto le sean formuladas tanto por parte de la <b>ESCUELA</b> como de la <b>EMPRESA</b>. b) cumplir cuidadosa y responsablemente con las tareas asignadas, asumiendo las responsabilidades y compromisos que de ellas derivan. c) respetar los reglamentos y disposiciones de la <b>EMPRESA</b>. d) realizar su entrenamiento en el marco de la reglamentación interna de la <b>ESCUELA</b>, las que declaran conocer y aceptar. e) observar una relación respetuosa con el personal, clientes y proveedores de la <b>EMPRESA</b>. f) mantener confidencialidad sobre toda la información que haga al giro de la <b>EMPRESA</b>, sus clientes y proveedores a la que tenga acceso. g) consultar con el Coordinador de Prácticas y, en su caso con el Supervisor que la <b>EMPRESA</b> designe todas aquellas dudas o dificultades que se presenten. h) firmar un compromiso de prácticas con la <b>ESCUELA</b> con copia a la <b>EMPRESA</b>, en donde consten: área, horarios y duración de la práctica.</p>

<p>QUINTA: El presente convenio será por tiempo indeterminado, pudiendo cualquiera de las partes rescindirlo con la sola presentación de notificación fehaciente y con 30 días de anticipación.

<p>SEXTA: Cualquiera de las partes podrá rescindir el presente en caso de mediar incumplimiento de las obligaciones asumidas por alguna de las partes, así como por razones de fuerza mayor, cesación de las posibilidades que lo justificaron, etc. En todos los casos, de ser posible deberán respetarse aquellas experiencias que se hubiesen comenzado a realizar evitando trastornos o perjuicios a la tarea educativa y a la formación de los alumnos.</p>

<p>SÉPTIMA: El domicilio donde se realizaran las pasantías será en:  <b><%=@contract.internship.company.address.upcase %></b>, localidad: <b><%=@contract.internship.company.locality.locality.upcase %></b> provincia: <b><%=@contract.internship.company.locality.province.province.upcase %></b>.- </p>

<p>OCTAVA: Queda expresamente aclarado que los alumnos que realicen las pasantías no percibirán remuneración ni contraprestación alguna por parte de la <b>EMPRESA</b> ni de la <b>ESCUELA</b>, no ligándolos a ellas vínculo laboral alguno ni relación profesional ni comercial de ningún tipo, no comprometiendo a la <b>EMPRESA</b> en modo alguno a requerir los servicios profesionales de los alumnos que efectúen estas pasantías. Asimismo y en razón de las prácticas a realizar, la <b>EMPRESA</b> no cobra importe alguno, por ningún concepto, ni a los alumnos ni a la <b>ESCUELA</b>. Motivándola solamente el interés de alcanzar la mejor formación posible de los futuros Profesionales, los que serán con el tiempo los encargados de ejecutar en el mejor nivel un Servicio que destaque a las <b>EMPRESA</b>s que contraten sus servicios y en consecuencia a nuestra Provincia. No obstante ello, y si fuera necesario, ésta última se compromete a otorgar durante el plazo que dure la pasantía, una asignación estímulo para gastos de estudio de los alumnos por los montos y bajo las condiciones que la Ley de Pasantías Educativas determina en el Art. 15 – Ley 26.427. El monto será estipulado en protocolos adicionales. </p>

<p>NOVENA: La <b>ESCUELA</b> no asume responsabilidad alguna por los hechos de los alumnos practicantes ni por las consecuencias de las actividades que realicen fuera o más allá de las obligaciones y derechos mencionados ut supra.</p>

<p>DÉCIMA: Cualquier controversia que surja con respecto al contenido del presente convenio, será resuelta por las partes mediante cláusulas adicionales que pasarán a formar parte del presente en su momento, de común acuerdo.</p>

<p>ONCEAVA: En caso de Incumplimiento por parte de la <b>EMPRESA</b> de alguno de los requisitos o características que tipifican a esta especial relación la pasantía educativa perderá el carácter de tal y será considerada contrato laboral por tiempo indeterminado. En dicho caso, regirán todas las sanciones e indemnizaciones que correspondan para la relación laboral registrada, conforme las disposiciones del Art 19 – Ley 26.427.-</p>

<p>En prueba de lo cual se firman dos ejemplares de un mismo tenor y a un solo efecto en el lugar y la fecha más arriba indicados.</p>

<p>&nbsp;</p>
<p>&nbsp;</p>


<p>---------------------</p>
<p>Por la Escuela       </p>

<p>&nbsp;</p>
<p>&nbsp;</p>


<p>---------------------</p>
<p>Por la Escuela       </p>

<p>&nbsp;</p>
<p>&nbsp;</p>

<p>---------------------</p>
<p>Por la Empresa</p>


