<p id="notice"><%= notice %></p>

CONTRATO INDIVIDUAL Nº:

En la ciudad de Mendoza, el día <%= Time.now.day %>-<%= Time.now.month %>-<%= Time.now.year %>, entre la EMPRESA …………….. cuyos datos son: razón social: …………………….. domicilio: ………………………….localidad: ………………. provincia: ………………, ………………, representada en este acto por el Sr.: <%= @contract.user_id %> ……………………y número de Documento: DNI …………….. en su calidad de: …………….. y y la ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA, representada en este por la FUNDACION ISLAS MALVINAS , quien comparece a este acto representada por su Presidente ARMANDO ALONSO BADIA (LE. Nº: 8.149.227) y con la participación de la Señora Rectora de la ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA, Lic. María del Carmen Sánchez de Díaz ( D.N.I 5.130.374 ) todos con domicilio legal en Avda. Roque Saenz Peña No: 745, Ciudad de Mendoza, en adelante la ESCUELA, acuerdan celebrar el presente contrato individual que desde este acto pasa a formar parte del convenio suscripto entre ambas partes el día ..- .. - …. con las siguientes cláusulas: 
PRIMERA: La EMPRESA recibirá en pasantía al alumno.. ………………CUIL Nº: ………………………., con domicilio real en………………….………desde el día: .. - .. - …. por un período de …. Meses, que caduca el: .. - .. - …. Desempeñando las tareas de: ………………………………, en los siguientes turnos y horarios: de……hs a……hs. Las tareas deberán ajustarse al plan pedagógico de trabajo elaborado por la ESCUELA que la Empresa declara conocer y aceptar.- (Art. 5 - Ley 26.427).- El régimen de asistencia y licencias por examen, enfermedad y accidente para el pasante se regirá por las normas del Convenio Colectivo de la Actividad y por la LCT .- En todo caso serán aplicables dichas normas para regular las ausencias y/o suspensiones del contrato por razones de enfermedad , accidentes, y exámenes.-
SEGUNDA: La EMPRESA ……………………………….entregará al alumno un aporte no remunerativo de hasta $ ……. por mes en calidad de estímulo para viajes, gastos escolares y erogaciones derivadas del ejercicio de la pasantía (Art. 15 - Ley 26.427).- 
TERCERA: El pago se hará efectivo del 1 a 10 de cada mes, mientras dure el convenio, en la administración del Establecimiento Educativo o en la empresa. 
CUARTA: Durante la pasantía el alumno estará cubierto por un seguro de riesgo de trabajo (Ley 24.557 de Riesgos de trabajo, en ……………………………………... y una cobertura de salud en ……………………………….. (Ley 23.660 de Obras Sociales). La Empresa gestionará el alta de ambos beneficios y el costo estará a cargo de la Empresa. 
QUINTA: La Empresa se compromete a, en caso de recibir mas de un pasante (independiente del establecimiento de procedencia), no sobrepasar una relación del 20% de pasantes respecto de la cantidad de empleados existentes al momento de la celebración de este contrato.-
SEXTA: Las pasantías serán coordinadas por el Prof: Rodrigo Lemos, CUIL nº: 23-22536391-9 en carácter de docente guía, quien asesorará en todo lo relacionado al sistema de pasantías educativas determinadas por el Art. 1 - Ley 26.427
SEPTIMA: LA EMPRESA, designará un tutor, quién junto al docente guía designado por la ESCUELA, elaborarán de manera conjunta un plan de trabajo que ayude a alcanzar los objetivos pedagógicos de las pasantías, este plan de trabajo, se archivará junto al legajo de  pasantías del alumno. (Art. 17 - Ley 26.427). El tutor designado es el Sr. ……………………….CUIL /CUIT……………………- 
OCTAVA: Las horas de la presente pasantía, serán computadas dentro de la cantidad de horas que el alumno debe cumplir de acuerdo a la resolución de la carrera respectiva. 
NOVENA: Sin perjuicio de otras que surjan naturalmente como consecuencia necesaria de su calidad de alumnos, este asume las siguientes obligaciones: a) asistir puntualmente en horarios y días asignados a realizar sus prácticas, dando cumplimiento a los requerimientos propios de la actividad a desarrollar, observando las indicaciones que al respecto le sean formuladas tanto por parte de la Escuela como de la Empresa. b) cumplir cuidadosa y responsablemente con las tareas asignadas, asumiendo las responsabilidades y compromisos que de ellas derivan y en particular el plan de trabajo que determine el proceso educativo c) respetar los reglamentos y disposiciones de la EMPRESA. d) realizar su entrenamiento en el marco de la reglamentación interna de la ESCUELA, las que declaran conocer y aceptar. e) observar una relación respetuosa con el personal, clientes y proveedores de la EMPRESA. f) mantener confidencialidad sobre toda la información que haga al giro de la EMPRESA, sus clientes y proveedores a la que tenga acceso. g) consultar con el Coordinador de Prácticas y/o con el docente guía y en su caso con el Supervisor y/o Tutor que la EMPRESA designe, todas aquellas dudas o dificultades que se presenten. h) firmar un compromiso de prácticas con la ESCUELA con copia a la EMPRESA, en donde consten: área, funciones, horarios y duración de la práctica. 
DECIMA: Para cualquier controversia emergente del presente Protocolo contractual, las partes eligen y se someten a la Competencia de los Tribunales Ordinarios de la Ciudad de Mendoza, renunciando a cualquier fuero especial y al fuero federal. 
En prueba de lo cual se firman tres ejemplares de un mismo tenor y a un solo efecto en el lugar y la fecha más arriba indicados. 


---------------------

---------------------

---------------------

---------------------
Por la Escuela
por la Escuela
Alumno

por la Empresa





<%#= link_to 'Edit', edit_contract_path(@contract) %> |
<%#= link_to 'Back', contracts_path %>
