<!-- <p id="notice"><%#= notice %></p> -->


<p><b><center> ------- COPIAR y PEGAR a partir de aquí en Procesador de Textos y adaptar ------</center></b></p>
<p></p>
<p></p>

<p>CONTRATO INDIVIDUAL Nº: <%=Time.now.year %> - <%=@contract.id %> </p>

<p>En la ciudad de Mendoza, el día <b><%= Time.now.day %>-<%= Time.now.month %>-<%= Time.now.year %></b>, entre la <b>EMPRESA</b> <b><%=@contract.internship.company.name.upcase %></b> cuyos datos son: razón social: <b><%=@contract.internship.company.razon.upcase %></b>, con domicilio en <b> <%=@contract.internship.company.address.upcase %></b>, localidad de <b><%=@contract.internship.company.locality.locality.upcase %></b>, provincia de <b><%=@contract.internship.company.locality.province.province.upcase %></b>, representada en este acto por el Sr. <b><%=@contract.internship.company.boss.upcase %></b>, cuyo número de Documento es DNI <b><%=@contract.internship.company.boss_dni.upcase %></b>, quien en su calidad de <b><%=@contract.internship.company.position.upcase %></b>, y la <b>ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA</b>, representada en este acto por la <b>FUNDACION ISLAS MALVINAS</b>, quien comparece a este acto representada por su Presidente <b>ARMANDO ALONSO BADIA (LE. Nº: 8.149.227)</b> y con la participación del Señor Rector de la <b>ESCUELA INTERNACIONAL DE TURISMO, HOTELERÍA Y GASTRONOMÍA DE MENDOZA, Lic. Federico Vasquez de Novoa, D.N.I 20.857.939</b>, todos con domicilio legal en <b>Avda. Roque Saenz Peña No: 745, Ciudad de Mendoza</b>, en adelante la <b>ESCUELA</b>, acuerdan celebrar el presente <b>C</b>ontrato <b>I</b>ndividual, que desde este acto pasa a formar parte del convenio suscripto entre ambas partes el día <b><%= Time.now.day %>-<%= Time.now.month %>-<%= Time.now.year %></b>, con las siguientes cláusulas: </p>

<p>PRIMERA: La EMPRESA recibirá en pasantía al alumno <b><%=@contract.user.name.upcase %> <%=@contract.user.surname.upcase %>, CUIL Nº: <%=@contract.user.cuil.upcase %></b>, con domicilio real en <b><%=@contract.user.address %></b> desde el día: <b><%=@contract.internship.date_from.to_time.strftime('%d/%m/%Y') %> </b>por un período de …. Meses, que caduca el: <b><%=@contract.internship.date_until.to_time.strftime('%d/%m/%Y') %></b>, 
	desempeñando las tareas de 
	<% @contract.internship.tasks.each do |t| %> 
	  <b><%= t.description %></b>, 
	<% end %> 

	<b><%= @contract.internship.description_job %></b>
	
	<% if (@contract.internship.tasks.count == 0) and (@contract.internship.description_job == "") %>
	  ...........................
	<% end %>
	
	en los siguientes turnos y horarios: <b><% if @contract.internship.horario then %> <%="a convenir" %> <% else %> de .... hs a .... hs <% end %></b>. Las tareas deberán ajustarse al plan pedagógico de trabajo elaborado por la <b>ESCUELA</b> que la <b>EMPRESA</b> declara conocer y aceptar.- (Art. 5 - Ley 26.427).- El régimen de asistencia y licencias por examen, enfermedad y accidente para el pasante se regirá por las normas del Convenio Colectivo de la Actividad y por la LCT .- En todo caso serán aplicables dichas normas para regular las ausencias y/o suspensiones del contrato por razones de enfermedad, accidentes, y exámenes.-</p>

<p>SEGUNDA: La <b>EMPRESA</b> <b><%=@contract.internship.company.name.upcase %></b> entregará al alumno un aporte no remunerativo de hasta $ ……. por mes en calidad de estímulo para viajes, gastos escolares y erogaciones derivadas del ejercicio de la pasantía (Art. 15 - Ley 26.427).-</p>

<p>TERCERA: El pago se hará efectivo del 1 a 10 de cada mes, mientras dure el convenio, en la administración del Establecimiento Educativo o en la <b>EMPRESA</b>.</p>

<p>CUARTA: Durante la pasantía, el alumno estará cubierto por un seguro de riesgo de trabajo (Ley 24.557 de Riesgos de trabajo, en <b><%=@contract.internship.company.art.upcase %></b> y una cobertura de salud en <b><%=@contract.internship.company.obsocial.upcase %></b> (Ley 23.660 de Obras Sociales). La <b>EMPRESA</b> gestionará el alta de ambos beneficios y el costo estará a cargo de la Empresa.</p>

<p>QUINTA: La <b>EMPRESA</b> se compromete a, en caso de recibir mas de un pasante (independiente del establecimiento de procedencia), no sobrepasar una relación del 20% de pasantes respecto de la cantidad de empleados existentes al momento de la celebración de este contrato.-</p>

<p>SEXTA: Las pasantías serán coordinadas por el Prof <b>Sergio Alonso, CUIL nº: 20-23180414-6</b> en carácter de docente guía, quien asesorará en todo lo relacionado al sistema de pasantías educativas determinadas por el Art. 1 - Ley 26.427</p>

<p>SEPTIMA: LA <b>EMPRESA</b>, designará un tutor, quién junto al docente guía designado por la <b>ESCUELA</b>, elaborarán de manera conjunta un plan de trabajo que ayude a alcanzar los objetivos pedagógicos de las pasantías, este plan de trabajo, se archivará junto al legajo de  pasantías del alumno. (Art. 17 - Ley 26.427). El tutor designado es el Sr. <b><%=@contract.internship.company.manager.upcase %></b>, CUIL /CUIT <b><%=@contract.internship.company.manager_cuil.upcase %></b>.-</p>

<p>OCTAVA: Las horas de la presente pasantía, serán computadas dentro de la cantidad de horas que el alumno debe cumplir de acuerdo a la resolución de la carrera respectiva.</p>

<p>NOVENA: Sin perjuicio de otras que surjan naturalmente como consecuencia necesaria de su calidad de alumnos, este asume las siguientes obligaciones: a) asistir puntualmente en horarios y días asignados a realizar sus prácticas, dando cumplimiento a los requerimientos propios de la actividad a desarrollar, observando las indicaciones que al respecto le sean formuladas tanto por parte de la <b>ESCUELA</b> como de la <b>EMPRESA</b>. b) cumplir cuidadosa y responsablemente con las tareas asignadas, asumiendo las responsabilidades y compromisos que de ellas derivan y en particular el plan de trabajo que determine el proceso educativo c) respetar los reglamentos y disposiciones de la <b>EMPRESA</b>. d) realizar su entrenamiento en el marco de la reglamentación interna de la <b>ESCUELA</b>, las que declaran conocer y aceptar. e) observar una relación respetuosa con el personal, clientes y proveedores de la <b>EMPRESA</b>. f) mantener confidencialidad sobre toda la información que haga al giro de la <b>EMPRESA</b>, sus clientes y proveedores a la que tenga acceso. g) consultar con el Coordinador de Prácticas y/o con el docente guía y en su caso con el Supervisor y/o Tutor que la <b>EMPRESA</b> designe, todas aquellas dudas o dificultades que se presenten. h) firmar un compromiso de prácticas con la <b>ESCUELA</b> con copia a la <b>EMPRESA</b>, en donde consten: área, funciones, horarios y duración de la práctica.</p>

<p>DECIMA: Para cualquier controversia emergente del presente Protocolo contractual, las partes eligen y se someten a la Competencia de los Tribunales Ordinarios de la Ciudad de Mendoza, renunciando a cualquier fuero especial y al fuero federal.-</p>

<p>En prueba de lo cual se firman tres ejemplares de un mismo tenor y a un solo efecto en el lugar y la fecha más arriba indicados.
</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>---------------------</p>
<p>Por la Escuela       </p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>---------------------</p>
<p>Por la Escuela       </p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>---------------------</p>
<p>Alumno</p>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>---------------------</p>
<p>Por la Empresa</p>


<%#= link_to 'Edit', edit_contract_path(@contract) %> |
<%#= link_to 'Back', contracts_path %>
