<h1>Listado de tareas</h1>

<p>
	El presente formulario tiene por objetivo mantener una lista rápida de tareas frecuentes requeridas a los alumnos por las empresas solicitantes.
</p>
<p>
	Es buena idea mantenerlo actualizado para evitar escribir una y otra vez la descripción al crear nuevas ofertas de pasantías.
</p>

<% user = User.find_by_id(session[:user_id]) %>
<% if user.admin == true %>
<%= link_to 'Nueva tarea', new_task_path %>
<% end %>
<table>
	<tr>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @tasks.each do |task| %>
	<tr>
		<td><%= task.description %></td>
		<td><%= link_to 'Show', task %></td>
		<% if user.admin == true %>
		<td><%= link_to 'Edit', edit_task_path(task) %></td>
		<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
	<% end %>
</table>

<br />

