<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :treatment, "Tratamiento" %><br />
	<%= f.select :treatment_id, @treatments.map {|tr| [tr.treatment, tr.id]} %>
  </div>

  <div class="field">
    <%= f.label :name, "Nombre (obligatorio)" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, "Apellido (obligatorio)" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :career, "Carrera / Curso (solo alumnos y profesores)" %><br />
    <%= f.text_field :career %>
  </div>
  <div class="field">
    <%= f.label :dni, "DNI (obligatorio)" %><br />
    <%= f.text_field :dni %>
  </div>
  <div class="field">
    <%= f.label :cuil, "CUIL/CUIT (obligatorio para poder operar en el sistema)" %><br />
    <%= f.text_field :cuil %> Obtenga <a href='https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do' target="_blank">aquí</a> su código de identificador único
  </div>
  <div class="field">
    <%= f.label :email, "E-mail (obligatorio)" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :celphone, "Telefono Celular" %><br />
    Recomendado, formato para Whatsapp, con el +54 y el 9 adelante. Ejemplo +5492615868765<br />
    <%= f.text_field :celphone %>
  </div>

  <div class="field">
    <%= f.label :homephone, "Telefono Particular" %><br />
    <%= f.text_field :homephone %>
  </div>

  <div class="field">
    <%= f.label :skype, "#Skype" %><br />
    Muy útil para algunos recruiters que necesiten personal inmediatamente<br />
    <%= f.text_field :skype %>
  </div>

  <div class="field">
    <%= f.label :locality_id, "Localidad" %><br />
    <%= f.select :locality_id, @localities.map {|loca| [loca.locality, loca.id]} %>
  </div>

  <div class="field">
    <%= f.label :linkedin, "Perfil público en Linkedin (¡muy útil!)" %><%= f.text_field :linkedin %><br/>
    Ejemplos:
    <ul>
    	<li><a target="_blank" href="http://www.linkedin.com/pub/esteban-borzone/66/123/21b" target="_blank">http://www.linkedin.com/pub/esteban-borzone/66/123/21b</a><br/></li>
    	<li><a target="_blank" href="http://www.linkedin.com/in/alonsosergio" target="_blank">http://www.linkedin.com/in/alonsosergio</a><br /></li>
    </ul>

  </div>

  <div class="field">
      <%= f.check_box :working %>
      <%= f.label :working, "Actualmente trabajando" %>
  </div>

  <div class="field">
    <%= f.label :workwhere, "¿Dónde?" %><br />
    <%= f.text_field :workwhere %>
  </div>

  <div class="field">
    <%= f.label :position, "Posición (ejemplo: Auxiliar de a bordo)" %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
      <%= f.check_box :searchingjob %>
      <%= f.label :searchingjob, "Atento a nuevas propuestas" %>
  </div>

  <hr>
  <p><b>Solo Egresados:</b></p>

  <div class="field">
      <%= f.check_box :careercomplete %>
      <%= f.label :careercomplete, "¿Carrera terminada? (sujeto a validación de Secretaría Académica)" %>
  </div>

  <div class="field">
    <%= f.label :anioegreso, "Año de egreso" %><br />
    <%= f.text_field :anioegreso %>
  </div>

  <div class="field">
    <%= f.label :skills, "Una breve descripción de tus habilidades y aptitudes" %><br />
    Ejemplo: ingles conversacional, experiencia como cajero, etc
    <br />
    <%= f.text_area :skills %>
  </div>

  <div class="field">
    <%= f.label :skillstoimprove, "Habilidades y aptitudes que te gustaría mejorar" %><br />
    Ejemplo: ingles conversacional, experiencia como cajero, etc
    <br />
    <%= f.text_area :skillstoimprove %>
  </div>

  <div class="field">
    <%= f.check_box :manager %>
    <SPAN title="Este valor cambia lo que puede hacer el usuario dentro del sistema. Los empresarios pueden subir ofertas de trabajo y ver solo las suyas, en tanto que el alumno puede ver todas las ofertas, y postularse si lo desea">
      <%= f.label :manager, "Soy empresario o encargado, y necesito postear ofertas de trabajo [info]" %>
    </SPAN>
  </div>

  <div class="field">
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirmar' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>

  <% user = User.find_by_id(session[:user_id]) %>
    <% if user %>
    <% if user.admin == true %>
      <hr>
      <h1>Solo Administradores o Directores de Carrera:</h1>
      <div class="field">
        <%= f.check_box :admin %>
        <%= f.label :admin, "Administrador" %>
      </div>

      <div class="field">
        <%= f.check_box :validated %>
        <%= f.label :validated, "Datos validos. Confirmo que este usuario:" %></br>
        <ul>
          <li>
            Es alumno, posee historial academico. Lo he validado con Secretaría o Sistema de Gestion de Alumnos.
          </li>
          <li>
            Es empresario. Lo he validado buscándolo en Linkedin, Guía Telefonica y <a href='https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do'  target='_blank'>Afip</a>)
          </li>
        </ul>
      </div>

      <div class="field">
        <%= f.check_box :graduated %>
        <%= f.label :graduated, "Egresado. Confirmo que este alumno efectivamente se ha recibido en la fecha y en la carrera que manifiesta, habiendolo validado con Secretaría o Sistema de Gestion de Alumnos. " %></br>
      </div>

    <% end %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
