<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname, "Apellido" %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field", "DNI">
    <%= f.label :dni %><br />
    <%= f.text_field :dni %>
  </div>
  <div class="field", "CUIL">
    <%= f.label :cuil %><br />
    <%= f.text_field :cuil %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :locality_id, "Localidad" %><br />
    <%= f.select :locality_id, @localities.map {|loca| [loca.locality, loca.id]} %>
  </div>
  
  <div class="field">
    <%= f.label :linkedin, "Perfil público en Linkedin (¡muy útil!)" %><%= f.text_field :linkedin %><br/>
    Ejemplos: 
    <ul>
    	<li><a target="_blank" href="http://www.linkedin.com/pub/esteban-borzone/66/123/21b">http://www.linkedin.com/pub/esteban-borzone/66/123/21b</a><br/></li>
    	<li><a target="_blank" href="http://www.linkedin.com/in/alonsosergio">http://www.linkedin.com/in/alonsosergio</a><br /></li>    	
    </ul>
    
  </div>


  <% user = User.find_by_id(session[:user_id]) %>
	<% if user %>
	<% if user.admin == true %>
    <div class="field">
      <%= f.label :admin, "Administrador?" %><br />
      <%= f.check_box :admin %>
    </div>
    <div class="field">
      <%= f.label :manager, "Empresario?" %><br />
      <%= f.check_box :manager %>
    </div>
  <% end %>
  <% end %>

  <div class="field">
    <%= f.label :password, 'Password' %><br />
    <%= f.password_field :password, :size => 40 %>
  </div>

<div class="field">
    <%= f.label :password_confirmation, 'Confirmar' %><br />
    <%= f.password_field :password_confirmation, :size => 40 %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
