<h1>Listing users</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Dni</th>
    <th>Administrador</th>
    <th>Empresario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.surname %></td>
    <td><%= user.dni %></td>
    <td><%= user.admin %></td>
    <td><%= user.manager %></td>
    <td><%= link_to 'Mas / Chequear CV', user %></td>
    <td><%= link_to 'Corregir Datos', edit_user_path(user) %></td>
    <td><%= link_to 'Borrar', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
