<h1>Estudios cursados</h1>

<table border="1">
  <tr>
    <th>Academia / Colegio</th>
    <th>A침o de Comienzo de Cursado</th>
    <th>A침o de Finalizaci칩n (esperado)</th>
    <th>Titulo Obtenido</th>
    <th>Descripci칩n extra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.academy %></td>
    <td><%= study.from %></td>
    <td><%= study.until %></td>
    <td><%= study.title %></td>
    <td><%= study.description %></td>
    <td><%= link_to 'Mas Datos', study %></td>
    <td><%= link_to 'Modificar', edit_study_path(study) %></td>
    <td><%= link_to 'Borrar', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar nuevo titulo', new_study_path %>
