<p id="notice"><%= notice %></p>

<p>
  <b>Academia / Colegio</b>
  <%= @study.academy %>
</p>

<p>
  <b>A침o de Comienzo de Cursado</b>
  <%= @study.from %>
</p>

<p>
  <b>A침o de Finalizaci칩n (esperado)</b>
  <%= @study.until %>
</p>

<p>
  <b>Titulo Obtenido:</b>
  <%= @study.title %>
</p>

<p>
  <b>Descripci칩n extra:</b>
  <%= form_for(@study) do |f| %>
    <%= f.text_area :description, :readonly => true  %>
  <% end %>
</p>


<%= link_to 'Corregir', edit_study_path(@study) %> |
<%= link_to 'Volver al listado', studies_path %>
