<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Datos para automatizar la creación de contratos de pasantía.</p>
  <div class="field">
    <%= f.label :name, "Nombre:" %><br />
    <%= f.text_field :name %>
  </div>
  
    <div class="field">
    <%= f.label :razon, "Razón Social" %><br />
    <%= f.text_field :razon %>
  </div>
  
  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :locality_id, "Localidad" %><br />
    <%= f.select :locality_id, @localities.map {|loca| [loca.locality, loca.id]} %>
  </div>


  <div class="field">
    <%= f.label :manager, "Nombre y Apellido del encargado de supervisar al alumno" %><br />
    <%# if @usuarioLogueado == nil %>
    	<%#= f.text_field :manager, :value => "" %>    	
    	<%= f.text_field :manager %>
    <%# else %>        
    	<%#= f.text_field :manager, :value => @nombreCompuesto %>
    <%# end %>
  </div>

  
  <div class="field">
    <!-- pequeño hack para no tener que renombrar la columna cuil por dni -->
    <%= f.label :manager_cuil, "DNI Encargado" %><br />
    
    <%# if @usuarioLogueado == nil %>
    	<%= f.text_field :manager_cuil %>    	
    <%# else %>        
    	<%#= f.text_field :manager_cuil, :value => @cuilLogueado %>
    <%# end %>  </div>
	<hr>
  <div class="field">
    <%= f.label :boss, "Nombre y Apellido de ** quien representa a la compañía **. " %><br />
    <%= f.text_field :boss %>
  </div>
  <div class="field">
    <%= f.label :boss_dni, "DNI Representante" %><br />
    <%= f.text_field :boss_dni %>
  </div>
  <div class="field">
    <%= f.label :position, "Cargo del Representante dentro de la Compañía (presidente, director, etc)" %><br />
    <%= f.text_field :position %>
  </div>
  
  <div class="field">
    <%= f.label :art, "ART" %><br />
    <%= f.text_field :art %>
  </div>
  
  <div class="field">
    <%= f.label :obsocial, "Obra Social" %><br />
    <%= f.text_field :obsocial %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
