<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address, "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :locality_id, "Localidad" %><br />
    <%= f.select :locality_id, @localities.map {|loca| [loca.locality, loca.id]} %>
  </div>

  <div class="field">
    <%= f.label :manager, "Encargado de supervisar al alumno" %><br />
    <%= f.text_field :manager %>
  </div>
  <div class="field">
    <%= f.label :manager_cuil, "CUIL Encargado" %><br />
    <%= f.text_field :manager_cuil %>
  </div>

  <div class="field">
    <%= f.label :boss, "Representante maximo de la compañía" %><br />
    <%= f.text_field :boss %>
  </div>
  <div class="field">
    <%= f.label :boss_dni, "DNI Representante" %><br />
    <%= f.text_field :boss_dni %>
  </div>
  <div class="field">
    <%= f.label :position, "Cargo del Representante dentro de la Compañía (presidente, director, etc)" %><br />
    <%= f.text_field :position %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
