<%= form_for(@internship) do |f| %>
<% if @internship.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

	<ul>
		<% @internship.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<table>
		<tr>
			<td>
				<%= f.label :company_id, "Empresa" %><br/>
			</td>
			<td>
				<%= f.select :company_id, @companies.map {|com| [com.name, com.id]} %>
			</td>
			<td>
				<h6>¿La Empresa no aparece? <%= link_to 'Agregar ', new_company_path %></h6>
			</td>
		</tr>

	</table>
</div>

<div class="field">
	<table>
		<tr>
			<td>
				<%= f.label :type_id, "Tipo de empleo" %><br/>
			</td>
			<td>
				<%= f.select :type_id, @types.map {|ty| [ty.tipo, ty.id]} %>
			</td>
		</tr>

	</table>
</div>


<div class="field">
	<%#= f.label :description_job %>
	Adjunte una descripción general del trabajo solicitado
	<br />
	<%= f.text_field :description_job %>
</div>

<div class="field">
	<%= f.label :description, "Si desea agregar algo mas, puede hacerlo en el siguiente cuadro" %>
	<br />
	<%= f.text_area :description %>
</div>

O simplemente marque las tareas que deberá cumplir el estudiante
<% for task in Task.all %>
	<div>
		<%= check_box_tag "internship[task_ids][]", task.id, @internship.tasks.include?(task) %>
		<%= task.description %>
	</div>
<% end %>

</br>



<div class="field">
	<%#= f.label :napplicants %>
	Cantidad de alumnos que se solicitan
	<br />
	<%= f.number_field :napplicants %>
</div>

<div class="field">
	<%#= f.label :situation_id %>
	Situación actual de esta oferta
	<br />
	<%= f.select :situation_id, @situations.map {|sit| [sit.status, sit.id]} %>
</div>

<div class="field">
	<%#= f.label :description_job %>
  Convenio Colectivo de Trabajo que aplica al puesto (el mismo de los empleados actuales).<br />
  Si no está seguro, puede encontrar varias opciones <a href="https://convenios.trabajo.gob.ar">aquí</a>
	<br />
	<%= f.text_field :cct %>
</div>



<p><b>Referencia</b>: las pasantías usualmente son de aproximadamente 3 meses, pudiendo renovarse. El estudiante puede estar en el lugar hasta 4 horas diarias, 20 horas a la semana, de acuerdo a la ley vigente de pasantías.</p>
<p>Estos valores, no obstante pueden coordinarse con el alumno. Lo ideal para formalizar la relación laboral es coordinar en el contrato los horarios y montos. Esta es la razón por la cual a veces del modelo de contrato que llevará el alumno -provisto por la escuela- se corrige varias veces entre las partes (alumno, escuela y empresa) hasta que las partes se declaran conformes y se inicia la pasantía. </p>

<div class="field">
	<%#= f.label :date_from %>
	Desde
	<br />
	<%= f.date_select :date_from %>
</div>

<div class="field">
	<%#= f.label :date_until %>
	Hasta
	<br />
	<%= f.date_select :date_until %>
</div>

<div class="field">
	<%#= f.label :horario %>
	Horario: a convenir?
	<br />
	<%= f.check_box :horario %>
</div>

<div class="field">
	<%#= f.label :hs_monday %>
	Horas solicitadas de trabajo día lunes:
	<br />
	<%= f.number_field :hs_monday %>
</div>

<div class="field">
	<%#= f.label :hs_tuesday %>
	Horas solicitadas de trabajo día martes:
	<br />
	<%= f.number_field :hs_tuesday %>
</div>

<div class="field">
	<%#= f.label :hs_wednesday %>
	Horas solicitadas de trabajo día miercoles:
	<br />
	<%= f.number_field :hs_wednesday %>
</div>

<div class="field">
	<%#= f.label :hs_thursday %>
	Horas solicitadas de trabajo día jueves:
	<br />
	<%= f.number_field :hs_thursday %>
</div>

<div class="field">
	<%#= f.label :hs_friday %>
	Horas solicitadas de trabajo día viernes:
	<br />
	<%= f.number_field :hs_friday %>
</div>

<div class="field">
	<%#= f.label :hs_saturday %>
	Horas solicitadas de trabajo día sábado:
	<br />
	<%= f.number_field :hs_saturday %>
</div>

<div class="field">
	<%#= f.label :hs_sunday %>
	Horas solicitadas de trabajo día domingo:
	<br />
	<%= f.number_field :hs_sunday %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>
