<% user = User.find_by_id(session[:user_id]) %>

<h1>Listado de ofertas</h1>
<h4>Ordenando por fecha de publicación</h4>

<% if user.admin == true %>
    <p><%= link_to 'Agregar Oferta', new_internship_path %></p>
<% end %>


<table border="1">
	<tr>
		<th>ID</th>
		<th>Empresa</th>
		<th>Descripción del trabajo</th>
    <th>Nº alumnos</br>solicitados</th>
		<th>Situación</th>
		<th>Desde</th>
		<th>Hasta</th>
		<th></th>

		<% if user.admin == true %>
		  <th></th>
		  <th></th>
		<% end %>

		<% if user.admin == false %>
		  <th></th>
		<% end %>

	</tr>


  <% if user.manager == true %>
      <% @companies = Company.where(:user_id => user.id) %>
      <% @companies.each do |company| %>

        <% @internships = Internship.where(:company_id => company.id) %>
        <% @internships.each do |internship| %>
        <tr>
          <td>
            <%= Time.now.year %>-<%= internship.id %>
          </td>
          <td><%= internship.company.name %></td>
          <td><%= internship.description_job %></td>
          <td><center><%= internship.napplicants %></center></td>
          <td><%#= internship.situation.status %></td>
          <td><%= internship.date_from.to_time.strftime('%d/%m/%Y') %></td>
          <td><%= internship.date_until.to_time.strftime('%d/%m/%Y') %></td>

          <td><%= link_to 'Mas Datos / Ver Postulados', internship %></td>

          <% if user.admin == true or user.manager == true %>
            <td><%= link_to 'Editar', edit_internship_path(internship) %></td>
            <td><%= link_to 'Borrar', internship, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
          <% end %>

          <% unless user.manager %>
            <td><%= link_to 'Postularme', :controller => 'internships', :action => 'postularme', :id => internship %><td>
          <% end %>

          </tr>
          <% end %><!-- @internships.each do |internship|  -->
        <% end %><!--  @companies.each do |company| -->

  <% else %> 
        <% @internships = Internship.order("id").reverse %>
        <% @internships.each do |internship| %>
        <tr>
          <td>
            <%= Time.now.year %>-<%= internship.id %>
          </td>
          <td><%= internship.company.name %></td>
          <td><%= internship.description_job %></td>
          <td><%= internship.napplicants %></td>
          <td><%#= internship.situation.status %></td>
          <td><%= internship.date_from.to_time.strftime('%d/%m/%Y') %></td>
          <td><%= internship.date_until.to_time.strftime('%d/%m/%Y') %></td>

          <td><%= link_to 'Mas Datos / Ver Postulados', internship %></td>

          <% if user.admin == true or user.manager == true %>
            <td><%= link_to 'Editar', edit_internship_path(internship) %></td>
            <td><%= link_to 'Borrar', internship, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
          <% end %>

          <% unless user.manager %>
            <td><%= link_to 'Postularme', :controller => 'internships', :action => 'postularme', :id => internship %><td>
          <% end %>

          </tr>
          <% end %><!-- @internships.each do |internship|  -->

  <% end %> <!-- if -->
</table>

<br />

