<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Empresa</b>
	<%= @internship.company.name %>
</p>

<p>
	<b>Tipo de empleo</b>
	<%= @internship.type.tipo %>
</p>

<p>
	<b>Descripción general del trabajo</b>
	<%= @internship.description_job %>
	<br />
	<%= @internship.description %>
</p>

<p>
	<b>Clientes que beneficia:</b>
	<ul>
    <% @tasks.each do |pas| %>
      <li><%= pas.description %></li>
    <% end %>
  </ul>
</p>

<p>
	<b>Cantidad de alumnos que se solicitan:</b>
	<%= @internship.napplicants %>
</p>

<p>
  <b>Alumnos postulados a esta pasantía:</b>
	<ul>
    <% @users.each do |i| %>
      <li><%= i.name %>, <%= i.surname %>: <%= link_to 'Ver datos / CV', i %></li>
    <% end %>
	</ul>
</p>

<p>
	<b>Situación actual:</b>
	<%#= @internship.situation.status %>
</p>

<p>
	<b>Horario: a convenir?</b>
  <% if @internship.horario then %>
    <%="si" %>
  <% end %>
</p>

<p>
	<b>Desde el</b>
	<%= @internship.date_from.to_time.strftime('%d/%m/%Y') %>
</p>

<p>
	<b>Hasta el</b>
	<%= @internship.date_until.to_time.strftime('%d/%m/%Y') %>
</p>

<p>
	<b>Horas solicitadas de trabajo día lunes:</b>
	<%= @internship.hs_monday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día martes:</b>
	<%= @internship.hs_tuesday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día miercoles:</b>
	<%= @internship.hs_wednesday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día jueves:</b>
	<%= @internship.hs_thursday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día viernes: </b>
	<%= @internship.hs_friday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día sábado:</b>
	<%= @internship.hs_saturday %>
</p>

<p>
	<b>Horas solicitadas de trabajo día domingo:</b>
	<%= @internship.hs_sunday %>
</p>

<% user = User.find_by_id(session[:user_id]) %>
<% if user.admin == true %>
  <%= link_to 'Editar', edit_internship_path(@internship) %> |
<% end %>
<%= link_to 'Volver', internships_path %>
