<p id="notice"><%= notice %></p>

  TODO: Listar alumnos aspirantes / en pasantía
  Mostrar alumnos en curso, solo administradores. 
  Requiere un m m hacia usuarios. La tabla combinacion debe tener
  - campo nota en la tabla combinacion

<p>
  <b>Company:</b>
  <%= @internship.company.name %>
</p>

<p>
  <b>Description job:</b>
  <%= @internship.description_job %>
</p>

<p>
  <b>Situation:</b>
  <%= @internship.situation.status %>
</p>

<p>
  <b>Desde</b>
  <%= @internship.date_from %>
</p>

<p>
  <b>Hasta</b>
  <%= @internship.date_until %>
</p>

<p>
  <b>Hs monday:</b>
  <%= @internship.hs_monday %>
</p>

<p>
  <b>Hs tuesday:</b>
  <%= @internship.hs_tuesday %>
</p>

<p>
  <b>Hs wednesday:</b>
  <%= @internship.hs_wednesday %>
</p>

<p>
  <b>Hs thursday:</b>
  <%= @internship.hs_thursday %>
</p>

<p>
  <b>Hs friday:</b>
  <%= @internship.hs_friday %>
</p>

<p>
  <b>Hs saturday:</b>
  <%= @internship.hs_saturday %>
</p>

<p>
  <b>Hs sunday:</b>
  <%= @internship.hs_sunday %>
</p>


<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
