<!DOCTYPE html>
<html>
	<head>
		<title>Pasantes</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user_id] %>

		<table>
			<tr>
				<% user = User.find_by_id(session[:user_id]) %>
				<td><%= button_to 'Salir de la sesión', logout_path, :method => "delete" %> </td>
				<td><%= button_to 'Principal', admin_url, :method => "get" %> </td>
				<td>Logueado como <%= user.name %> <%= user.surname %></td>
			</tr>
		</table>
		<table border="1">
			<% if user.admin == true %>

			<tr valign="top">

				<td> Menu Administradores
				<ul>
					<li>
						<%= link_to 'Empresas',companies_path %>
					</li>

					<li>
						<%= link_to 'Usuarios',users_path %>
					</li>
					<li>
						<%= link_to 'Ofertas',internships_path %>
					</li>
					<li>
						<%= link_to 'Contratos',contracts_path %>
					</li>

				</ul></td>

				<td> Parametrización del sistema
				<ul>

					<li>
						<%= link_to 'ABM Provincias',provinces_path %>
					</li>
					<li>
						<%= link_to 'ABM Localidades', localities_path %>
					</li>
					<li>
						<%= link_to 'ABM tareas tipicas', tasks_path %>
					</li>

					<li>
						<%= link_to 'ABM Habilidades', skills_path %>
					</li>

				</ul></td>
				<% end %>

				<% if user.admin == true or user.manager == true %>
				<td>Menu Empresarios
				<ul>
					<li>
						<%= link_to 'Mis Datos de Contacto ',edit_user_path(user) %>
					</li>
					<li>
						<%= link_to 'Datos de la Empresa ',companies_path %>
					</li>
					<li>
						<%= link_to 'Postear Ofertas', new_internship_path %>
					</li>
					<li>
						<%= link_to 'Ver mis Ofertas', internships_path %>
					</li>
				</ul></td>
				<% end %>

				<% unless user.manager == true %>
				<td> Menu Alumnos
				<ul>
					<li>
						<%= link_to 'Ofertas de trabajo',internships_path %>
					</li>
					<li>
						Mi Curriculum (¡mantener actualizado!)
						<ul>
							<li>
								<%= link_to 'Datos Personales ',edit_user_path(user) %>
							</li>
							<li>
								<%= link_to 'Empleos anteriores ',jobs_path %>
							</li>
							<li>
								<%= link_to 'Estudios Cursados ',studies_path %>
							</li>
						</ul>
					</li>
					<li>
						<%= link_to '¿Como se ve mi Curriculum Vitae ahora?', user %>
					</li>
				</ul></td>
				<% end %>

			</tr>
		</table>

		<% end %>
		
		<script>		
		  function goBack() { window.history.back() } 
		</script>
         <input type="button" value="Volver" onclick="goBack()">
         
		<hr>
		<%= yield %>

	</body>
</html>
