<!DOCTYPE html>
<html>
	<head>
		<title>Pasantes</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user_id] %>

		<table>
			<tr>
				<td><%= button_to 'Salir de la sesión', logout_path, :method => "delete" %> </td>
				<td><%= button_to 'Principal', admin_url, :method => "get" %> </td>
			</tr>
		</table>
		<table border="1">
			<tr valign="top">
				<% user = User.find_by_id(session[:user_id]) %>
				<% if user.admin == true %>

				<td colspan="3">
                  TODO (por hacer / terminar)
				<ul>
				<h5>
					<li>
						Iteraccion de tareas y hs por día en contrato
					</li>
					<li>
						Sección para que los alumnos rellenen su CV
					</li>

					<li>
        				        Sección para que los empresarios corrijan sus datos, publiquen sus pasantias, y Majo valide las ofertas.
					</li>
				<h5>
				</ul>
				</td>
			</tr>



			<tr valign="top">

				<td>
                  Menu Administradores
				<ul>
                    <li>
						<%= link_to 'Empresas',companies_path %>
					</li>

					<li>
						<%= link_to 'Usuarios',users_path %>
					</li>
					<li>
						<%= link_to 'Ofertas',internships_path %>
					</li>
					<li>
        				        <%= link_to 'Contratos',contracts_path %>
					</li>


				</ul>
				</td>

				<td>
					Parametrización del sistema
				<ul>
 
 
					<li>
						<%= link_to 'ABM Provincias',provinces_path %>
					</li>
					<li>
						<%= link_to 'ABM Localidades', localities_path %>
					</li>
					<li>
						<%= link_to 'ABM tareas tipicas', tasks_path %>
					</li>

				</ul></td>
				<% end %>
				<td>
					Menu Alumnos
				<ul>
					<li>
						<%= link_to 'Ofertas',internships_path %>
					</li>
					<li>
						Subir CV
					</li>
				</ul></td>

			</tr>
		</table>

		<% end %>
		<hr>
		<%= yield %>

	</body>
</html>
