<!DOCTYPE html>
<html>
	<head>
		<title>Pasantes</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<% if session[:user_id] %>

			<ul>
				Menu General
				<li>
					Ofertas
				</li>
				<li>
					Mi CV
				</li>
			</ul>
			<% user = User.find_by_id(session[:user_id]) %>
			<% if user.dni == "111" %>
			<ul>
				Administradores
				<li>
					<%= link_to 'ABM Provincias',provinces_path %>
				</li>
				<li>
					<%= link_to 'ABM Localidades', localities_path %>
				</li>
				<li>
					<%= link_to 'Usuarios',users_path %>
				</li>
			</ul>
			<% end %>
	
			<%= button_to 'Logout', logout_path, method: :delete %>

		<% end %>

		<%= yield %>

	</body>
</html>
