<!DOCTYPE html>
<html>
	<head>
		<title>Pasantes</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<img src="/assets/logo-nuevo-chico-transparente-con-lunapic.gif" align="right" style="height: 140px; width: auto;">


		<% if session[:user_id] %>

			<table>
				<tr>
					<script>
			  			function goBack() { window.history.back() }
					</script>
					<td><input type="button" value="Volver" onclick="goBack()"></td>

					<% user = User.find_by_id(session[:user_id]) %>

					<%#= button_to 'Salir de la sesión', logout_path, :method => "delete", :class => "buttonTo"  %>
					<td><%= button_to 'Salir de la sesión', logout_path, :method => "delete" %> </td>

					<td><%= button_to 'Principal', admin_url, :method => "get" %> </td>
					<td>Logueado como <%= user.name %> <%= user.surname %></td>
				</tr>
			</table>

		    <h1>Escuela Internacional de Turismo,</h1>
		    <h1>Hotelería y Gastronomía</h1>

	        <% if user.validated %>

				<table border="0">

					<% if user.admin == true %>

					  <tr valign="top">

						<td> <center>Menu<br>Administradores</center>
						<ul>
							<li>
								<%= link_to 'Empresas',companies_path %>
							</li>

							<li>
								<%= link_to 'Usuarios',users_path %>
							</li>
							<li>
								<%= link_to 'Ofertas',internships_path %>
							</li>
							<li>
								<%= link_to 'Contratos',contracts_path %>
		          			</li>
							<li>
								<%= link_to 'Conectar empresa con otro usuario',reconectar_path %>
							</li>


						</ul></td>

						<td> <center>Parametrización<br>del sistema</center>
						<ul>

							<li>
								<%= link_to 'ABM Provincias',provinces_path %>
							</li>
							<li>
								<%= link_to 'ABM Localidades', localities_path %>
							</li>
							<li>
								<%= link_to 'ABM tareas tipicas', tasks_path %>
							</li>

							<li>
								<%= link_to 'ABM Habilidades', skills_path %>
							</li>

						</ul></td>
						<% end %>

						<% if user.admin == true or user.manager == true %>
						<td><center>Menu<br>Empresarios</center>
						<ul>
							<li>
								<%= link_to 'Mis Datos de Contacto ',edit_user_path(user) %>
							</li>
							<li>
								<%= link_to 'Datos de la Empresa ',companies_path %>
							</li>
							<li>
								<%= link_to 'Postear Ofertas', new_internship_path %>
							</li>
							<li>
								<%= link_to 'Ver mis Ofertas', internships_path %>
							</li>
						</ul></td>
						<% end %>

						<% unless user.manager == true %>
						<td> <center>Menu<br>Alumnos</center>
						<ul>
							<li>
								<%= link_to 'Ofertas de trabajo',internships_path %>
							</li>
							<li>
								Mi Curriculum (¡mantener actualizado!)
								<ul>
									<li>
										<%= link_to 'Corregir datos Personales ',edit_user_path(user) %>
									</li>
									<li>
										<%= link_to 'Empleos anteriores ',jobs_path %>
									</li>
									<li>
										<%= link_to 'Estudios Cursados ',studies_path %>
									</li>
								</ul>
							</li>
							<li>
								<%= link_to '¿Como se ve mi Curriculum Vitae ahora?', user %>
							</li>
						</ul></td>
						<% end %>


					</tr>
				</table>

			<% else %>
				<p>
					<b>Datos todavia no validados</b>. Se requiere esta validación <b>para comenzar a operar</b> con la plataforma.</br>
					Por favor envia una solicitud de validación al correo laboratorio@eim.esc.edu.ar (o al número de Whatsapp +5492615868765) con un smile enojado.</br>
					Al hacerlo, recuerda tener tus <b><%= link_to 'datos completos',edit_user_path(user) %></b>, asi podemos buscarte entre nuestros registros.</br>
					Sobre todo si sos un alumno de los primeros (años 80), cuando no teníamos sistema informático ;) </br>
					Mientras esperas, podrías ir cargando datos que suman cuando las empresas descubran tu postulación a una oferta de trabajo, como <b><%= link_to 'empleos anteriores ',jobs_path %></b>, y <b><%= link_to 'Estudios Cursados ',studies_path %></b>
        </p>
        <p>En este momento, <%= link_to 'así se ve tu curriculum', user %>
			<% end %> <!-- fin <%# if user.validated %>		-->

		<% end %> <!-- fin <%# if session[:user_id] %> -->

		<hr>
		<%= yield %>
		<hr>

		<h6>Desarrollado por <a href='http://about.me/elbunker'>Sergio A. Alonso - Bunker</a></h6>

    <%= debug(params) if Rails.env.development? %>
	</body>
</html>
